<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BetterReads | Update Event</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/authorNav'); %>
		<main class="flex grow flex-col px-3 gap-5">
			<!------------ UPDATE EVENT ------------>
			<section>
				<h1 class="text-2xl font-dm">Update Event</h1>
				<div class="flex w-full relative px-3 flex-col items-center mt-3">
					<form
						action="/author/updateEvent/<%= eventToUpdate.id %>"
						method="post"
						name="modifyEvent"
						class="flex flex-col w-full gap-5">
						<!------- EVENT TITLE ------->
						<div class="flex items-center gap-3">
							<label for="eventTitle" class="font-bold">Event Name:</label>
							<input
								type="text"
								id="eventTitle"
								name="eventTitle"
								value="<%= eventToUpdate.eventTitle %>"
								class="w-48 rounded-lg px-2 text-lg" />
						</div>
						<!------- EVENT DATE ------->
						<div class="flex items-center gap-3">
							<label for="eventDate" class="font-bold">Date:</label>
							<input
								type="text"
								id="eventDate"
								name="date"
								value="<%= eventToUpdate.date %>"
								class="w-48 rounded-lg px-1 text-lg" />
						</div>
						<!------- EVENT TIME ------->
						<div class="flex items-center gap-3">
							<label for="eventTime" class="font-bold">Time:</label>
							<input
								type="text"
								id="eventTime"
								name="time"
								value="<%= eventToUpdate.time %>"
								class="w-48 rounded-lg px-1 text-lg" />
						</div>
						<!------- EVENT LOCATION ------->
						<div class="flex items-center gap-3">
							<label for="eventLocation" class="font-bold">Location:</label>
							<input
								type="text"
								id="eventLocation"
								name="location"
								value="<%= eventToUpdate.location %>"
								class="w-48 rounded-lg px-2 text-lg" />
						</div>
						<!------- EVENT PRICE ------->
						<div class="flex items-center gap-3">
							<label for="eventPrice" class="font-bold">Price:</label>
							<input
								type="text"
								id="eventPrice"
								name="price"
								value="<%= eventToUpdate.price %>"
								class="w-48 rounded-lg px-2 text-lg" />
						</div>
						<!------- EVENT DESCRIPTION ------->
						<div class="flex gap-3 flex-col">
							<label for="eventDescription" class="font-bold"
								>Description:</label
							>
							<textarea
								name="description"
								id="eventDescription"
								cols="20"
								rows="5"
								class="md:w-1/2 lg:w-1/4 rounded-lg">
<%= eventToUpdate.description %></textarea
							>
						</div>
						<!------- INPUT SUBMIT ------->
						<div class="flex justify-start">
							<input
								type="submit"
								name="submit"
								value="Update Event"
								class="w-40 bg-textPurple text-center text-backgroundPurple rounded-full px-3 py-1 md:text-lg cursor-pointer" />
						</div>
					</form>
				</div>
			</section>
			<section>
				<h1 class="text-2xl font-dm">Delete Event</h1>
				<div class="px-3 mt-2">
					<form
						action="/author/deleteEvent/<%= eventToUpdate.id %>"
						method="post">
						<input
							type="submit"
							name="submit"
							value="Delete Event"
							class="w-40 bg-textPurple text-center text-backgroundPurple rounded-full px-3 py-1 md:text-lg cursor-pointer" />
					</form>
				</div>
			</section>
		</main>
		<%- include('../partials/authorFooter'); %>
	</body>
</html>
