<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BetterReads | <%= user.firstName %>'s Account</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/authorNav'); %>
		<main class="flex flex-col grow lg:items-center">
			<!------------ ACCOUNT INFORMATION ------------>
			<h1 class="text-3xl p-3 text-center font-dm">My Account</h1>
			<div class="md:flex md:justify-between md:w-full lg:w-3/4">
				<div>
					<div class="flex flex-col mb-5 px-3 gap-1 md:mt-3">
						<p class="md:text-lg">
							<span class="font-bold pr-3">Email:</span> <%= user.email %>
						</p>
						<p class="md:text-lg">
							<span class="font-bold pr-3">First Name:</span> <%= user.firstName
							%>
						</p>
						<p class="md:text-lg">
							<span class="font-bold pr-3">Last Name:</span> <%= user.lastName
							%>
						</p>
						<p class="md:text-lg">
							<span class="font-bold pr-3">Fun Fact:</span> <%= user.funFact %>
						</p>
					</div>

					<!------------UPDATE ACCOUNT INFORMATION------------>

					<h2 class="text-2xl p-3">Update my account</h2>
					<div class="flex flex-col w-full gap-5">
						<form
							action="/author/updateAuthor"
							method="post"
							id="updateAuthor"
							class="flex flex-col gap-3 px-3 mb-5 md:w-[400px]">
							<!------- NEW EMAIL ------->
							<div class="flex justify-between items-center">
								<label for="authorEmail" class="font-bold pr-3 md:text-lg"
									>New Email:
								</label>
								<input
									type="email"
									name="email"
									id="authorEmail"
									value="<%= user.email %>"
									class="h-10 text-center rounded-full text-lg" />
							</div>
							<!------- NEW FIRST NAME ------->
							<div class="flex justify-between items-center">
								<label for="authorFirst" class="font-bold pr-3 md:text-lg"
									>New First Name:
								</label>
								<input
									type="text"
									name="firstName"
									id="authorFirst"
									value="<%= user.firstName %>"
									class="h-10 text-center rounded-full text-lg" />
							</div>
							<!------- NEW LAST NAME ------->
							<div class="flex justify-between items-center">
								<label for="authorLast" class="font-bold pr-3 md:text-lg"
									>New Last Name:
								</label>
								<input
									type="text"
									name="lastName"
									id="authorLast"
									value="<%= user.lastName %>"
									class="h-10 text-center rounded-full text-lg" />
							</div>
							<!------- NEW FUN FACT ------->
							<div class="flex justify-between items-center">
								<label for="authorFact" class="font-bold pr-3 md:text-lg"
									>New Fun Fact:
								</label>
								<textarea
									name="funFact"
									id="authorFact"
									cols="20"
									rows="5"
									class="text-center rounded-lg w-[200px]">
<%= user.funFact %></textarea
								>
							</div>
							<!------- INPUT SUBMIT ------->
							<% if (user.id == 12) { %>
							<input
								type="submit"
								name="submit"
								value="Update Account"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5 hidden" />
							<% } else { %>
							<input
								type="submit"
								name="submit"
								value="Update Account"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5" />
							<% } %>
						</form>
					</div>

					<!------------ UPDATE PASSWORD ------------>

					<h2 class="text-2xl p-3">Update my password</h2>
					<div class="flex flex-col w-full gap-5">
						<form
							action="/author/updatePassword"
							method="post"
							class="flex flex-col gap-3 px-3 mb-5 md:w-[400px]">
							<div class="flex justify-between items-center">
								<!------- CURRENT PASSWORD ------->
								<label for="authorOldPassword" class="font-bold pr-3 md:text-lg"
									>Current Password:</label
								>
								<input
									type="password"
									name="password"
									id="authorOldPassword"
									class="h-10 rounded-full text-lg text-center" />
							</div>
							<!------- NEW PASSWORD ------->
							<div class="flex justify-between items-center">
								<label for="authorNewPassword" class="font-bold pr-3 md:text-lg"
									>New Password:</label
								>
								<input
									type="password"
									name="newPassword"
									id="authorNewPassword"
									class="h-10 rounded-full text-lg text-center" />
							</div>
							<!------- INPUT SUBMIT ------->
							<% if (user.id == 12) { %>
							<input
								type="submit"
								name="submit"
								value="Update Password"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5 hidden" />
							<% } else { %>
							<input
								type="submit"
								name="submit"
								value="Update Password"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5" />
							<% } %>
						</form>
					</div>

					<!------------ DELETE ACCOUNT ------------>

					<div class="p-3">
						<div class="flex items-center text-2xl">
							<span class="material-symbols-outlined"> warning </span>
							<h2 class="text-2xl p-3 font-bold">DANGER ZONE</h2>
							<span class="material-symbols-outlined"> warning </span>
						</div>
						<p>To delete your account, please type your password below.</p>
						<p class="font-bold">YOU CANNOT UNDO THIS ACTION!</p>
						<form
							action="/author/deleteAccount"
							method="post"
							class="my-3 md:w-[400px]">
							<!------- INPUT PASSWORD ------->
							<div class="flex justify-between items-center">
								<label for="authorDelPassword" class="font-bold pr-3 md:text-lg"
									>Password:</label
								>
								<input
									type="password"
									name="password"
									id="authorDelPassword"
									class="h-10 rounded-full text-lg text-center" />
							</div>
							<!------- INPUT SUBMIT ------->
							<% if (user.id == 12) { %>
							<input
								type="submit"
								name="submit"
								value="Delete Account"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5 hidden" />
							<% } else { %>
							<input
								type="submit"
								name="submit"
								value="Delete Account"
								class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5" />
							<% } %>
						</form>
					</div>
				</div>
				<div class="hidden md:block md:mr-6">
					<img src="/assets/bookmark.png" alt="bookmark" />
				</div>
			</div>
		</main>
		<%- include('../partials/authorFooter'); %>
	</body>
</html>
